:host {
  display: block;
  padding: 20px;
  border: 4px solid #000;

  table {
    border-collapse: collapse;
  }
  td {
    border: 0.5px solid #000;
    padding: 8px;
  }
  .column-header {
    text-transform: capitalize;
  }
}